@use '../abstracts' as *;

.button {
  display: flex;
  padding: var(--spacing-200) var(--spacing-400);
  justify-content: center;
  gap: var(--spacing-100);
  background-color: var(--color-green-500);
  border: none;
  border-radius: var(--spacing-100);
  color: var(--color-white);
  cursor: pointer;

  @include text-preset-2;
  @include transition(background-color, transform);

  &__icon {
    width: 1.125rem;
    height: 1.125rem;
  }

  &:hover,
  &:focus-visible {
    background-color: var(--color-green-700);
  }

  &:focus-visible {
    outline: 0.125rem solid var(--color-green-500);
    outline-offset: 0.125rem;
  }

  &:active {
    background-color: color-mix(in hsl, var(--color-green-700), black 10%);
    transform: scale(0.98);
  }
}
