/* Fonts */

$fraunces-fonts: (
  700: 'Fraunces-Bold',
);

@each $weight, $file in $fraunces-fonts {
  @font-face {
    font-family: Fraunces;
    font-weight: $weight;
    font-style: normal;
    src: url('../../assets/fonts/Fraunces/#{$file}.woff2') format('woff2');
    font-display: swap;
    font-variation-settings:
      'SOFT' 0,
      'WONK' 0;
  }
}

$montserrat-fonts: (
  500: 'Montserrat-Medium',
  700: 'Montserrat-Bold',
);

@each $weight, $file in $montserrat-fonts {
  @font-face {
    font-family: Montserrat;
    font-weight: $weight;
    font-style: normal;
    src: url('../../assets/fonts/Montserrat/#{$file}.woff2') format('woff2');
    font-display: swap;
  }
}
